# --- CONFIGURACIÓN GENERAL ---
PORT=3003
NODE_ENV=development

# --- SUPABASE (Secrets) ---
# URL de la instancia de Supabase de PopStudy
SUPABASE_URL=https://your-project-id.supabase.co
# Clave de Service Role de Supabase 
SUPABASE_SERVICE_ROLE=your_supabase_service_role_key
